body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    /* background-image: url("https://i.ibb.co/X3QwKz6/spas.jpg") */


}

h1 {
    font-size: 2.5em;
    font-weight: bold;
    color: black;
    text-align: center;
    text-transform: uppercase;
}

form {
    background-color: #ffffff;
    padding: 20px;
    margin: 0 auto;
    max-width: 700px;
    max-height: auto;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border: solid;
}

input[type=text] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin-bottom: 20px;
    width: 100%;
}

label {
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 20px;
}

input[type=radio] {
    margin-right: 10px;
}

input[type=button] {
    background-color: #333333;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
}

iframe {
    border: none;
    margin-top: 20px;
    width: 1000px;
    height: 700px;
    text-align: center;
    position: relative;
    left: 290px;
    /* adjust this value as needed */
}

hr {
    margin-top: 40px;
    margin-bottom: 40px;
    border: solid;
    height: 1px;
    background-color: #191a18;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}

#spas {
    background-color: #ffffff;
    padding:20px;
    margin: 110 auto;
    max-width: 900px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border: solid;
}

#google,
#bing {
    background-color: #ffffff;
    padding: 20px;
    margin: 0 auto;
    max-width: 900px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: solid;
    justify-content: center;
}

#page_rank_label {
    color: navy;
    padding-right: 53.89%;
}

#hits_label {
    color: lightpink;


}

#flat_clustering_label {
    color: navy;
    padding-right: 50%;

}

#hierarchical_clustering_label {
    color: lightpink;
}

#dummy_clustering_label {
    color: navy;
}

#association_qe_label {
    color: navy;
    padding-right: 27%;
}

#metric_qe_label {
    color: lightpink;
    padding-right: 15%;
}

#scalar_qe_label {
    color: navy;

}

#relevance {
    margin: 0px 0px 0px 0px;
    color: limegreen;
    text-align: center;
    text-shadow: 2px 2px 4px #999;
    text-decoration: underline;
}

#clustering {
    margin: 20px 0px 0px 0px;
    color: limegreen;
    text-align: center;
    text-shadow: 2px 2px 4px #999;
    text-decoration: underline;
}

#queryexp {
    margin: 20px 0px 0px 0px;
    color: limegreen;
    text-align: center;
    text-shadow: 2px 2px 4px #999;
    text-decoration: underline;
}

#srch {
    color: #a2bf00;
    display: block;
    margin: 0 auto;

}

footer {
    background-color: #0a0622;
    padding: 20px;
    text-align: center;
}

footer p {
    color: #e8e1e1;
    font-size: 14px;
    margin: 10px;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

   
   
